<nav class="CS81U" data-panel="navbar-panel" jslog="59798; track:impression">
  <div jsname="nn6Xee" class="cfSov oYxtQd MI9wmf"><span class="ihSjwf IMnvVe"></span>
    <span class="y5Bz3 IMnvVe"></span><span class="SVpPcd IMnvVe"></span>
  </div>
  <div class="c2zzSe CoIOBe">
    <a href="/website/global-technologies-computer-repair-service/" class="oYxtQd">Computers Repair Service</a>
  </div><a target="_blank" id="action-list-9" class="dtKbfb  oYxtQd" data-tracking-element-type="19"
    jslog="// LINT.IfChange(PostCTAType)56040; track:impression,click" data-enable-ga="true"
    data-ga-prefix="action-list">
    <span class="DPvwYc xPRkMe" aria-hidden="true"></span><span>Home</span></a>
  <a target="_blank" id="action-list-1" class="dtKbfb  oYxtQd" href="tel:+91-40-6662-7237"
    data-tracking-element-type="2" jslog="// LINT.IfChange(PostCTAType)56037; track:impression,click"
    itemprop="telephone" data-enable-ga="true" data-ga-prefix="action-list">
    <span class="DPvwYc xPRkMe" aria-hidden="true"></span><span>Service</span></a>
  <a target="_blank" id="action-list-2" class="dtKbfb  oYxtQd"
    href="https://www.google.com/maps/dir//Global+Technologies/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bcb90cf65909a77:0x537f8367de912fc2!2m2!1d78.44490909999999!2d17.4366056"
    data-tracking-element-type="5" jslog="// LINT.IfChange(PostCTAType)56039; track:impression,click" itemprop="hasMap"
    data-enable-ga="true" data-ga-prefix="action-list"><span class="DPvwYc xPRkMe" aria-hidden="true"></span><span>Get
      directions</span></a>
      
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ml-auto">
   
    <li class="nav-item">
      <a class="nav-link" routerLink="/repair">Repairs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/services">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
  </ul>
</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <router-outlet></router-outlet>



