
.eFU66c .oYxtQd, .eFU66c .PDllHc {
    color: #5f9bce;
}
.c2zzSe {
    font-size: 22px;
    padding: 0 20px;
}
eFU66c {
    font-family: "Chivo",sans-serif;
    font-weight: 400;
}

.CS81U, .IeYwod {
    height: 64px;
    justify-content: space-between;
    padding: 0 66px;
}

.CS81U, .IeYwod {
    height: 64px;
    justify-content: space-between;
    padding: 0 66px;
}

.CS81U {
    box-shadow: 0 0 5px grey;
    position: fixed;
    z-index: 50;
}

.CS81U {
    box-shadow: 0 0 5px grey;
    position: fixed;
    z-index: 50;
}

.eFU66c {
    font-family: "Chivo",sans-serif;
    font-weight: 400;
}

element.style {
}
@media (min-width: 640px)
.CS81U, .IeYwod {
    height: 64px;
    justify-content: space-between;
    padding: 0 66px;
}
.CS81U, .IeYwod {
    align-items: center;
    background: white;
    box-sizing: border-box;
    display: flex;
    height: 70px;
    left: 0;
    padding: 0 12px;
    top: 0;
    width: 100%;
}
.CS81U {
    box-shadow: 0 0 5px grey;
    position: fixed;
    z-index: 50;
}
* {
    -webkit-tap-highlight-color: transparent;
}
user agent stylesheet
nav {
    display: block;
}
.jY7uzd {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    min-height: 100%;
    padding: 0 0 56px;
    position: relative;
}
.eFU66c {
    font-family: "Chivo",sans-serif;
    font-weight: 400;
}
style attribute {
    visibility: visible;
    opacity: 1;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #202124;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    text-size-adjust: 100%;
}